.button {
  padding: 0.75rem 1.25rem;
  position: relative;

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text-title);
  font: var(--font-button);

  &.primary {
    background-color: var(--pink-dark);

    &:hover {
      background-color: var(--pink-base);
    }
  }

  &.secondary {
    background-color: var(--blue-dark);

    &:hover {
      background-color: var(--blue-base);
    }
  }
}

.link {
  color: var(--blue-light);

  &:hover {
    color: var(--text-title);
  }
}
