#hero {
  margin: auto;
  height: 747px;
  padding-top: 20px;
  & div {
    & nav {
      width: 335px;
    }

    & > div:nth-child(2) {
      margin-top: 48px;
      width: 335px;
      height: 155px;
      gap: 1rem;

      & h1 {
        font: var(--font-title-bold);
        color: var(--text-title);
        text-align: center;
      }

      & p {
        font: var(--font-body-sm);
        color: var(--text-body);
        text-align: center;
      }
    }

    & > div:nth-child(4) {
      margin-top: 225px;
      height: 251px;
      /* background-color: tomato; */
      position: relative;

      & p {
        margin-top: 81.66px;
        height: 88px;
        text-align: center;
        color: var(--text-body);
        & strong {
          color: var(--blue-light);
        }
      }
      & img {
        width: 40px;
        position: absolute;
      }

      & img:nth-child(2) {
        position: absolute;
        top: 28px;
        right: 74px;
        rotate: 15deg;
      }

      & img:nth-child(3) {
        bottom: 50px;
        left: 14px;
        rotate: -30deg;
      }
      & img:nth-child(4) {
        bottom: 32px;
        right: 20px;
        rotate: -15deg;
      }
    }

    & img[src*="hero"] {
      position: absolute;
      top: 0;
      height: 464px;
      max-width: 1440px;
      z-index: -1;
    }
  }
}

@media (width >= 1440px) {
  #hero {
    margin: auto;
    height: 1524px;
    padding-top: 56px;
    & div {
      & nav {
        width: 1120px;
      }

      & > div:nth-child(2) {
        margin-top: 164px;
        width: 656px;
        height: 200px;
        gap: 2rem;

        & h1 {
          font: var(--font-title-lg);
          color: var(--text-title-lg);
          text-align: center;
        }

        & p {
          font: var(--font-body-lg);
          color: var(--text-body);
          text-align: center;
        }
      }

      & > div:nth-child(4) {
        margin-top: 566px;
        width: 1200px;
        height: 400px;
        position: relative;

        & p {
          margin-top: 81.66px;
          text-align: center;
          font: var(--font-subtitle);
          color: var(--text-body);

          & strong {
            font: var(--font-subtitle);
          }
        }
        & img {
          width: 80px;
          position: absolute;
        }

        & img:nth-child(2) {
          top: 13px;
          right: 562px;
          rotate: 20deg;
        }

        & img:nth-child(3) {
          bottom: 72px;
          left: 32px;
          rotate: 99deg;
        }

        & img:nth-child(4) {
          bottom: 72px;
          right: 0px;
          rotate: -15deg;
        }
      }

      & img[src*="hero"] {
        height: 946px;
        max-width: 1440px;
      }
    }
  }
}
