.container {
  width: 375px;
}

.px-20{
  padding-inline: 20px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

@media (width >= 1440px) {
  .container {
    width: 90rem;
  }
}
